<div class="back" [routerLink]="['/']">
  <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
</div>

<div class="login">
  <div class="login-container">
    
    <h1>Login</h1>
    <span class="medium">Enter your email and password to sign in to your account.</span>
    
    <div class="divider"></div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-item">
          <input type="email" id="email" formControlName="email" placeholder="Email">
          @if (loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)) {
            @if (loginForm.controls.email.errors?.required) {<p class="error">Email is required.</p>}
            @if (loginForm.controls.email.errors?.email)    {<p class="error">Please enter a valid email address.</p>}
          }
        </div>

        <div class="form-item">
          <input type="password" id="password" formControlName="password" placeholder="Password">
          @if (loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)) {
            @if (loginForm.controls.password.errors?.required) {<p class="error">Password is required.</p>}
          }
        </div>

        <br />

        <button class="submit-button" type="submit" [disabled]="!loginForm.valid">
          <span>Login</span>
        </button>
      </form>

      <br />
      @if (loading) {
        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_P7sC{transform-origin:center;animation:spinner_svv2 .75s infinite linear}@keyframes spinner_svv2{100%{transform:rotate(360deg)}}</style><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_P7sC"/></svg>
      }
      @if (serverErrorMessage != null) {<p class="error">{{serverErrorMessage}}</p>}
      @else if (serverSuccessMessage != null) {<p class="success">{{serverSuccessMessage}} Redirecting...</p>}

    <div class="divider"></div>
    <a class="small" [routerLink]="['/signup']">Don't have an account?</a>
  </div>
</div>